.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
.deployment/

# Terraform
.terraform/
terraform.tfvars
terraform.tfstate
.terraform.lock.hcl
infra/terraform.tfstate.backup